doctype html
html(lang='ko')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src='https://use.fontawesome.com/releases/v5.2.0/js/all.js')
    style
      include style.css
    title #{pageTitle}
  body
    include partials/header.pug
    main
      #main1
        #img1
          img(src='images/main.png')
        #main1_circle_mine
        #main1_text
          | 연극의 온기를 전달합니다
        #main1_circle_big
        #main1_drive
          a#story1.story1
            #story_circle1.story_circle1
            |                     연극 라면
          a#story2.story2
            #story_circle2.story_circle2
            |                     수상한 흥신소
          a#story3.story3
            #story_circle3.story_circle3
            |                     택시 안에서
          a#story4.story4
            #story_circle4.story_circle4
            |                     옥탑방 고양이
          a#story5.story5
            #story_circle5.story_circle5
            |                     쉬어 메드니스
        #moving_box1.moving_box1
          .icon1
            i.far.fa-heart.fa-2x
          .icon2
            i.far.fa-image.fa-10x
          .moving_box_text
            .moving_box_title
              | 연극 라면
            .moving_box_theater
              | 해피 씨어터
            .moving_box_date
              | 2021.01.16 ~2021.07.31
        #moving_box2.moving_box2
          .icon1
            i.far.fa-heart.fa-2x
          .icon2
            i.far.fa-image.fa-10x
          .moving_box_text
            .moving_box_title
              | 수상한 흥신소
            .moving_box_theater
              | 큐씨어터
            .moving_box_date
              | 2021.06.21 ~ 2021.07.31
        #moving_box3.moving_box3
          .icon1
            i.far.fa-heart.fa-2x
          .icon2
            i.far.fa-image.fa-10x
          .moving_box_text
            .moving_box_title
              | 택시 안에서
            .moving_box_theater
              | 해바라기 소극장
            .moving_box_date
              | 2019.03.14 ~ 오픈런
        #moving_box4.moving_box4
          .icon1
            i.far.fa-heart.fa-2x
          .icon2
            i.far.fa-image.fa-10x
          .moving_box_text
            .moving_box_title
              | 옥탑방 고양이
            .moving_box_theater
              | 틴틴홀
            .moving_box_date
              | 2010.04.06 ~오픈런
        #moving_box5.moving_box5
          .icon1
            i.far.fa-heart.fa-2x
          .icon2
            i.far.fa-image.fa-10x
          .moving_box_text
            .moving_box_title
              | 쉬어 메드니스
            .moving_box_theater
              | 콘텐츠 박스
            .moving_box_date
              | 2015.11.12 ~오픈런
      .inner_container
        #box2_text 대학로 연극을 전해드립니다
        #box2
          .box2_box
            .box2_logo
              i.far.fa-image
            .box2_textbox
              .box2_text_theater
                | 틴틴홀
              .box2_text_title
                | 옥탑방 고양이
              .box2_comment_ctn
                .box2_comment_icon
                  i.far.fa-comment-alt.fa-1x
                .box2_comment_num
                  | 55
              .box2_line
              .box2_date
                | 2010.04.06 ~ 오픈런
              .box2_heart
                i.fas.fa-heart
          .box2_box
            .box2_logo
              i.far.fa-image
            .box2_textbox
              .box2_text_theater
                | 틴틴홀
              .box2_text_title
                | 옥탑방 고양이
              .box2_comment_ctn
                .box2_comment_icon
                  i.far.fa-comment-alt.fa-1x
                .box2_comment_num
                  | 55
              .box2_line
              .box2_date
                | 2010.04.06 ~ 오픈런
              .box2_heart
                i.fas.fa-heart
          .box2_box
            .box2_logo
              i.far.fa-image
            .box2_textbox
              .box2_text_theater
                | 틴틴홀
              .box2_text_title
                | 옥탑방 고양이
              .box2_comment_ctn
                .box2_comment_icon
                  i.far.fa-comment-alt.fa-1x
                .box2_comment_num
                  | 55
              .box2_line
              .box2_date
                | 2010.04.06 ~ 오픈런
              .box2_heart
                i.fas.fa-heart
          .box2_box
            .box2_logo
              i.far.fa-image
            .box2_textbox
              .box2_text_theater
                | 틴틴홀
              .box2_text_title
                | 옥탑방 고양이
              .box2_comment_ctn
                .box2_comment_icon
                  i.far.fa-comment-alt.fa-1x
                .box2_comment_num
                  | 55
              .box2_line
              .box2_date
                | 2010.04.06 ~ 오픈런
              .box2_heart
                i.fas.fa-heart
          .box2_box
            .box2_logo
              i.far.fa-image
            .box2_textbox
              .box2_text_theater
                | 틴틴홀
              .box2_text_title
                | 옥탑방 고양이
              .box2_comment_ctn
                .box2_comment_icon
                  i.far.fa-comment-alt.fa-1x
                .box2_comment_num
                  | 55
              .box2_line
              .box2_date
                | 2010.04.06 ~ 오픈런
              .box2_heart
                i.fas.fa-heart
          .box2_box
            .box2_logo
              i.far.fa-image
            .box2_textbox
              .box2_text_theater
                | 틴틴홀
              .box2_text_title
                | 옥탑방 고양이
              .box2_comment_ctn
                .box2_comment_icon
                  i.far.fa-comment-alt.fa-1x
                .box2_comment_num
                  | 55
              .box2_line
              .box2_date
                | 2010.04.06 ~ 오픈런
              .box2_heart
                i.fas.fa-heart
          .box2_box
            .box2_logo
              i.far.fa-image
            .box2_textbox
              .box2_text_theater
                | 틴틴홀
              .box2_text_title
                | 옥탑방 고양이
              .box2_comment_ctn
                .box2_comment_icon
                  i.far.fa-comment-alt.fa-1x
                .box2_comment_num
                  | 55
              .box2_line
              .box2_date
                | 2010.04.06 ~ 오픈런
              .box2_heart
                i.fas.fa-heart
          .box2_box
            .box2_logo
              i.far.fa-image
            .box2_textbox
              .box2_text_theater
                | 틴틴홀
              .box2_text_title
                | 옥탑방 고양이
              .box2_comment_ctn
                .box2_comment_icon
                  i.far.fa-comment-alt.fa-1x
                .box2_comment_num
                  | 55
              .box2_line
              .box2_date
                | 2010.04.06 ~ 오픈런
              .box2_heart
                i.fas.fa-heart
        #box3
          #box3_text1 장르별
          #box3_text2 취향에 맞는 장르의 연극을 바로
          nav#box3_jangfamily
            a.box3_jang 코미디
            a.box3_jang(href='../genre/index.html') 로맨스
            a.box3_jang 드라마
            a.box3_jang 호러
            a.box3_jang 추리, 스릴러
            a.box3_jang 역사, 시대
            a.box3_jang 가족
            a.box3_jang 기타
        //
          <div id="main4">
          <br><br><br>커뮤니티 소개<br>
          오프닝 삽입 예정
          <div id="main4_circle"></div>
          </div>
        #main5
          .main5_text1 공지글
          .box5_text_ctn
            .main5_text2 대학로의 이슈를 바로 확인하세요
            .box5_more 더보기
          .ggg
            .ggg_origin
              .ggg_img
                .ggg_img_icon
                  i.far.fa-image.fa-5x
              .ggg_textbox
                .ggg_title 배우와의 만남
                .ggg_date 2021/06/23
                .ggg_main
                  | TextTextTextTextTextText
                  | TextTextTextTextTextText
                  br
                  |                                 TextTextTextTextText
                  br
                .detail 자세히보기
            .ggg_origin
              .ggg_img
                .ggg_img_icon
                  i.far.fa-image.fa-5x
              .ggg_textbox
                .ggg_title 신규연극
                .ggg_date 2021/06/23
                .ggg_main
                  | TextTextTextTextTextText
                  | TextTextTextTextTextText
                  br
                  |                                 TextTextTextTextText
                  br
                .detail 자세히보기
            .ggg_origin
              .ggg_img
                .ggg_img_icon
                  i.far.fa-image.fa-5x
              .ggg_textbox
                .ggg_title 할인공지
                .ggg_date 2021/06/23
                .ggg_main
                  | TextTextTextTextTextText
                  | TextTextTextTextTextText
                  br
                  |                                 TextTextTextTextText
                  br
                .detail 자세히보기
        section.board
          .boardtitle
            h1
              | 자유게시판
          table#main6
            thead
              tr
                th.main6_2_text1 분류
                th.main6_2_text2 제목
                th.main6_2_text3 댓글
                th.main6_2_text4 날짜
          include mixins/comment
          each potato in comments
            +comment(potato)
          else 
            //- 게시글이 없습니다.
          .main6_4
            button.main6_4_numberbox 1
            button.main6_4_numberbox 2
            button.main6_4_numberbox 3
            button.main6_4_numberbox 4
            button.main6_4_numberbox 5
    include partials/footer
  script
    include index.js
