@import url(./reset.css);
@import url(../header.css);

:root {
    --cyan: #b8e1e3;
    --green: #bccd52;
    --gray: #909090;
    --white: #fafafa;
}
a {
    text-decoration: none;
    color: black;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    background-color: var(--white);
    overflow-x: hidden;
}

.inner_container {
    width: 1060px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* main details */

/* box1 details */

#box1 img {
    width: 100%;
    height: 660px;
    object-fit: cover;
}

#box1 .circle {
    position: absolute;
    border-radius: 50%;
}

#box1 .circle.small {
    width: 100px;
    height: 100px;
    background-color: var(--green);
    top: 200px;
    left: 80px;
}

#box1 .circle.big {
    width: 600px;
    height: 600px;
    background-color: var(--cyan);
    top: 90px;
    right: -100px;
    z-index: 1;
}

#box1 .box1_title {
    font-size: 36px;
    position: absolute;
    top: 250px;
    left: 140px;
}

#box1 .circle_title {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 2;
}

.story {
    font-size: 18px;
    margin: 90px 0;
    position: relative;
    display: flex;
    z-index: 2;
    animation: 30s text forwards infinite;
}

.story1 {
    animation-delay: 0s;
    right: 30px;
}

.story2 {
    animation-delay: 6s;
    right: 130px;
}

.story3 {
    animation-delay: 12s;
    right: 160px;
}

.story4 {
    animation-delay: 18s;
    right: 130px;
}

.story5 {
    animation-delay: 24s;
    right: 30px;
}

@keyframes text {
    0% {
        font-size: 18px;
    }
    5% {
        font-size: 30px;
    }
    20% {
        font-size: 30px;
    }
    25% {
        font-size: 18px;
    }
}

.slide {
    width: 300px;
    height: 420px;
    background-color: var(--white);
    box-shadow: 1px 0px 5px var(--gray);
    position: absolute;
    top: 180px;
    right: 0px;
    transform: rotate(-24deg);
    animation: 30s slide forwards infinite;
}

.slide1 {
    animation-delay: 0s;
}

.slide2 {
    animation-delay: 6s;
}

.slide3 {
    animation-delay: 12s;
}

.slide4 {
    animation-delay: 18s;
}

.slide5 {
    animation-delay: 24s;
}

@keyframes slide {
    0% {
        right: 0px;
    }
    5% {
        right: 520px;
    }
    20% {
        right: 520px;
    }
    25% {
        right: 0px;
    }
}

.slide .title {
    font-size: 32px;
}

.slide .location {
    font-size: 20px;
}

.slide .period {
    font-size: 20px;
}

/* section2 details */

#box2 {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
}

.box2_title {
    font-size: 30px;
    margin: 60px 0 30px 0;
    flex-direction: row;
}

#box2 .box {
    width: 250px;
    height: 470px;
    background-color: rgb(245, 245, 245);
    border: 1px solid #969696;
    border-radius: 6px;
    position: relative;
}

#box2 .box .info {
    width: calc(100% - 48px);
    background-color: #ffffff;
    border: 1px solid #969696;
    border-radius: 0 0 6px 6px;
    padding: 24px;
    position: absolute;
    right: -1px;
    bottom: -1px;
}

#box2 .box .title {
    font-size: 22px;
    margin: 4px 0 16px 0;
    float: left;
}

#box2 .box .fa-heart {
    color: red;
    font-size: 22px;
    display: block;
    margin: 7px 0 16px 0;
    cursor: pointer;
    float: right;
}

#box2 .box .comment {
    width: 70px;
    height: 40px;
    background-color: var(--green);
    border-radius: 20px;
    position: absolute;
    right: 22px;
    top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#box2 .box .comment .fa-comment-alt {
    margin: 2.5px 6px 0 0;
}

#box2 .box hr {
    clear: both;
}

#box2 .box .period {
    font-size: 12px;
    float: left;
}

#box2 .box .location {
    font-size: 12px;
    float: right;
}

/* box3 details */

.box3_title {
    font-size: 30px;
    margin: 60px 0 30px 0;
    flex-direction: row;
}

#box3 table {
    width: 1060px;
    border: solid black;
    border-width: 2px 0;
}

#box3 table tr th {
    font-size: 14px;
    text-align: center;
    padding: 10px 4px;
    border-bottom: 2px solid black;
}

#box3 table tr td {
    padding: 8px 4px;
}

table tr .id,
table tr .views,
table tr .comments,
table tr .createdAt {
    width: 50px;
    font-size: 13px;
    line-height: 26px;
    text-align: center;
}

table tr .title {
    font-size: 15px;
    text-align: left;
}

table tr .author {
    width: 120px;
    font-size: 15px;
    text-align: center;
}

#box3 table tr .createdAt {
    width: 100px;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0 20px 0;
}

.page .button {
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    border-radius: 12px;
    border: 1px solid var(--white);
    background-color: var(--white);
    margin: 0px 2px;
    transition: 0.3s;
}

.page .button:hover {
    background-color: var(--cyan);
    border: 1px solid var(--cyan);
}

/* footer details */

footer {
    background-color: #ecf0f1;
    padding-bottom: 24px;
}

footer .footerlogo {
    margin: 24px 0;
    width: 120px;
    height: 32px;
}

footer table {
    border-top: 1px solid #444444;
    font-size: 14px;
}

footer th,
footer td {
    border-bottom: 1px solid #444444;
    padding: 10px 0;
}

footer table tr .link a {
    cursor: pointer;
}

footer table tr .strong {
    font-weight: 600;
    width: 72px;
}

footer .contact {
    display: flex;
    margin: 10px 0 36px 0;
    justify-content: space-between;
}

footer .address {
    font-size: 14px;
    line-height: 16px;
}

footer .snslink {
    display: flex;
    align-items: center;
}

footer .snslink button {
    height: 36px;
    font-size: 28px;
    border: none;
    margin-right: 8px;
    padding: 0;
    cursor: pointer;
}

footer .fa-youtube {
    color: red;
    font-size: 30px;
    width: 30px;
    margin-top: 3px;
}

footer .gschool {
    height: 36px;
    cursor: pointer;
}

footer .copyright {
    font-size: 12px;
    color: #7f8c8d;
    text-align: right;
}
