footer
      .footer_container
        .footer_inner_container
          img.footerlogo(src='images/logo.svg')
          table
            tbody
              tr
                td.tablestrong Notice
                td ----- 공지사항 -----
              tr
                td.tablestrong Pages
                td.pagelinks
                  a 연극
                  | 
                  a 커뮤니티
                  | 
                  a 팀소개
          .contact
            .address
              | 서울특별시 종로구 대학로 116 공공일호 4층
              br
              | 010 - 1234 - 5678 | kkaetoli@gmail.com
            .snslink
              button
                i.fab.fa-youtube
              button
                i.fab.fa-instagram
              img.gschool(src='images/gschool.png')
          p.copyright
            | Copyright© #{new Date().getFullYear()}. Kkaetory all right reserved